---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Página no encontrada">
    <main class="mx-auto max-w-screen-lg px-3 py-6 text-white">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_RWZde1.json"  background="transparent" speed="0.5" loop autoplay></lottie-player>
		<h1 class="text-3xl font-bold text-center mb-6">Página no encontrada</h1>
        <p class="text-center">
            La página que estás buscando no existe.
        </p>
        <p class="text-center my-4">
            <a href="/" class="flex items-center justify-center text-black bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">
                Regresar a la página principal
            </a>
        </p>
	</main>
</Layout>