---
import "@fontsource/poppins";
import SEO from "@julian_cataldo/astro-seo/SEO.astro";

// window.onload = () => {
//   return Astro.redirect("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
// };
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#18181b" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#18181b" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#18181b" />
    <meta name="generator" content={Astro.generator} />
    <title>Alianza CR7 nuevo chasis AVs</title>
    <!-- Primary Meta Tags -->
    <meta name="mobile-web-app-capable" content="yes" />
    <SEO
      image="/img/alianza-cr7-avs-nuevo-chasis.png"
      title="Nueva alianza CR7 y AVs, nuevo chasis gamer"
      description="El portugues Cristiano Ronaldo y el desarrollador web Andrés Vizcaíno se unen para crear un nuevo chasis gamer y marca como objetivo el conquistar la comunidad gamer en Colombia."
      siteName="ALianza CR7 y AVs, nuevo chasis gamer"
    />
  </head>

  <body class="bg-zinc-900">
    <main>KATALINA</main>

    <script>
      // redirect to url after load page
      window.onload = () => {
        return (window.location.href =
          "https://www.youtube.com/watch?v=dQw4w9WgXcQ");
      };
    </script>
  </body>
</html>
