---
import Layout from '../layouts/Layout.astro';
import HomeBanner from '../components/HomeBanner.astro';

const HELLO_MESSAGE = 'Hola, soy Andrés Vizcaíno';
---

<Layout title={HELLO_MESSAGE}>
	<main class="mx-auto max-w-screen-lg px-3 py-6">
		<HomeBanner title={HELLO_MESSAGE} />
	</main>
</Layout>

<style>
	
</style>
