---
import Layout from "../layouts/Layout.astro";
import HomeBanner from "../components/HomeBanner.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
import Jobs from "../components/Jobs.astro";
import Portfolio from "../components/Portfolio.astro";

const HELLO_MESSAGE = "Hola, soy Andrés Vizcaíno";
---

<Layout title={HELLO_MESSAGE}>
  <main class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="grid min-h-screen place-content-center">
      <HomeBanner title={HELLO_MESSAGE} />
    </div>
    <Skills />
    <Portfolio />
    <Jobs />
  </main>
  <Footer />
</Layout>
