---
import MonkeyHandIcon from "../assets/monkey-hand-icon.astro";
---

<footer
  class="relative md:absolute md:bottom-0 w-full overflow-hidden bg-gradient-to-r from-miduconf-yellow-100 via-miduconf-yellow-100 to-miduconf-orange-100"
>
  <div class="block px-6 py-10 mx-auto max-w-7xl">
    <p class="font-semibold text-center text-slate-600">
      Página en contrucción <MonkeyHandIcon />
    </p>
  </div>
</footer>
