---
import ChevronUp from "./icons/ChevronUp.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<footer class="flex items-center p-4 md:p-8">
  <div class="flex gap-2 md:justify-center">
    <a
      href="https://github.com/pipegoods"
      target="_blank"
      class="flex flex-1 items-center justify-center gap-1 rounded-full border border-blue-900 px-3 py-1 text-sm text-blue-900 transition-colors hover:bg-blue-900 hover:text-gray-50 md:flex-initial"
    >
      <Github />
      Github
    </a>
    <a
      href="https://www.linkedin.com/in/andres-vizcaino-salazar/"
      target="_blank"
      class="flex flex-1 items-center justify-center gap-1 rounded-full border border-blue-900 px-3 py-1 text-sm text-blue-900 transition-colors hover:bg-blue-900 hover:text-gray-50 md:flex-initial"
    >
      <Linkedin />
      Linkedin
    </a>
  </div>
  <a
    href="#hero"
    title="Volver arriba"
    class="fixed bottom-4 right-4 rounded-md border border-blue-900 p-1.5 text-blue-900 backdrop-blur-sm transition-colors hover:bg-blue-900 hover:text-gray-50 md:bottom-8 md:right-8"
  >
    <ChevronUp />
  </a>
</footer>
