---
import MonkeyHandIcon from "../assets/monkey-hand-icon.astro";
---

<footer class="w-full overflow-hidden">
  <div class="block px-6 py-10 mx-auto max-w-7xl">
    <p class="font-semibold text-center text-slate-600">
      Página en contrucción <MonkeyHandIcon className="w-6 h-6 inline-block" />
    </p>
  </div>
</footer>
