<header>
  <nav
    class="fixed left-1/2 top-5 z-10 -translate-x-1/2 rounded-md border border-gray-100 bg-gray-400/10 bg-clip-padding p-4 text-center backdrop-blur-sm"
  >
    <ul class="flex gap-5">
      <li>
        <a
          class="rounded-full bg-slate-700 px-4 py-2 text-sm text-white"
          href="#hero">Inicio</a
        >
      </li>
      <li>
        <a
          class="rounded-full bg-slate-700 px-4 py-2 text-sm text-white"
          href="#projects">Proyectos</a
        >
      </li>
      <li>
        <a
          class="rounded-full bg-slate-700 px-4 py-2 text-sm text-white"
          href="#contact">Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
