---
import Download from "./icons/Download.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<section id="hero" class="grid scroll-mt-24">
  <div class="flex flex-col gap-6">
    <section class="flex flex-col gap-2">
      <img
        src="/photo-andres-vizcaino.jpg"
        class="mx-auto w-36 rounded-full border border-slate-300 p-0.5"
      />
      <p class="text-center text-2xl text-gray-800 md:text-3xl">
        Hola, soy Andrés Vizcaíno.
      </p>
      <h2
        class="mx-auto text-center text-xl font-semibold text-blue-900 md:text-2xl"
      >
        Full Stack Web Developer
      </h2>
      <h3
        class="mx-auto text-center text-sm font-normal text-gray-800 md:text-base"
      >
        React | Node JS | Next JS | CSS
      </h3>
    </section>
    <div class="flex gap-2 md:justify-center">
      <a
        href="/cv-andres-vizcaino.pdf"
        target="_blank"
        class="flex flex-1 items-center justify-center gap-1 rounded-full border border-blue-900 bg-blue-900 px-3 py-1 text-sm text-gray-50 transition-colors hover:bg-blue-950 hover:text-gray-50 md:flex-initial"
      >
        <Download />
        Curriculum
      </a>
      <a
        href="https://github.com/pipegoods"
        target="_blank"
        class="flex flex-1 items-center justify-center gap-1 rounded-full border border-blue-900 px-3 py-1 text-sm text-blue-900 transition-colors hover:bg-blue-900 hover:text-gray-50 md:flex-initial"
      >
        <Github />
        Github
      </a>
      <a
        href="https://www.linkedin.com/in/andres-vizcaino-salazar/"
        target="_blank"
        class="flex flex-1 items-center justify-center gap-1 rounded-full border border-blue-900 px-3 py-1 text-sm text-blue-900 transition-colors hover:bg-blue-900 hover:text-gray-50 md:flex-initial"
      >
        <Linkedin />
        Linkedin
      </a>
    </div>
  </div>
</section>
