---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<section class="flex flex-col items-center gap-y-10 md:flex-row md:justify-between md:gap-x-24">
    <div>
        <h1 class="text-3xl text-white font-bold">{title} <svg class="w-16 h-16 inline-block animate-waving" viewBox="0 0 72 72"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="#FCEA2B"
                    d="M18.657 19.24a3.531 3.531 0 1 0-5.563 4.25l11.533 15.1 2.688 3.387-7.89-10.331a3.531 3.531 0 1 0-5.564 4.249l7.891 10.331 6.27 7.899c5.468 6.273 14.515 5.93 20.787.465a19.617 19.617 0 0 0 6.515-12.31c.386-4.233.807-15.301.807-15.301-.182-2.601-3.135-4.524-3.515-3.18l-4.894 9.757-3.366-4.223 3.366 4.223-3.366-4.223-13.465-17.208a3.531 3.531 0 1 0-5.563 4.249l4.249 5.563L36 30.417l-13.419-17.68a3.531 3.531 0 1 0-5.563 4.248L31.689 36" />
                <g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path
                        d="M18.657 19.24a3.531 3.531 0 1 0-5.563 4.25l11.533 15.1 2.688 3.387-7.89-10.331a3.531 3.531 0 1 0-5.564 4.249l7.891 10.331 6.27 7.899c5.468 6.273 14.515 5.93 20.787.465a19.617 19.617 0 0 0 6.515-12.31c.386-4.233.807-15.301.807-15.301-.182-2.601-3.135-4.524-3.515-3.18l-4.894 9.757-3.366-4.223 3.366 4.223-3.366-4.223-13.465-17.208a3.531 3.531 0 1 0-5.563 4.249l4.249 5.563L36 30.417l-13.419-17.68a3.531 3.531 0 1 0-5.563 4.248L31.689 36" />
                    <path stroke-miterlimit="10"
                        d="M11.673 42.872c0 2.566 1.747 4.643 3.905 4.643m-8.517-5.078c0 5.596 3.81 10.124 8.517 10.124m29.684-31.323c0-2.567-1.747-4.643-3.906-4.643m8.517 5.078c0-5.596-3.81-10.124-8.517-10.124" />
                </g>
            </svg></h1>
        <p class="text-lg text-gray-500 mb-5">
            Desarrollador Web Full Stack con 2 años de experiencia en el desarrollo de aplicaciones web con React.
        </p>

        <div class="flex flex-col gap-y-4">
            <a href="https://www.linkedin.com/in/andres-vizcaino-salazar" target="_blank"
                class="flex items-center justify-center bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">
                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M19 0H5a5 5 0 0 0-5 5v14a5 5 0 0 0 5 5h14a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z" />
                </svg>
            </a>
            <a href="https://github.com/pipegoods" target="_blank"
                class="flex items-center justify-center bg-gray-200 hover:bg-gray-300 rounded-full px-4 py-2">
                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0 1 12 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="shrink-0 hover:animate-pulse">
        <img class="h-auto w-64 rounded-full max-w-full border-white border-8" loading="lazy" src="/img/photo-andres-vizcaino.png"
            alt="Foto de Andrés Vizcaíno">
    </div>
</section>