---
const projects = [
  {
    name: "lpbcol-app",
    description:
      "Aplicación para la liga profesional de Beisbol de Colombia (Fines educativos)",
    technologies: [
      "TailwindCSS",
      "Astro",
      "Hono",
      "Scraping Web",
      "Typescript",
    ],
    link: "https://github.com/pipegoods/lpbcol-app",
  },
  {
    name: "Chat Bot Tesis",
    description: "Chat bot con AI que te ayudará con tu tesis",
    technologies: ["TailwindCSS", "React JS", "Open AI API"],
    link: "https://github.com/pipegoods/chatbot-tesis",
  },
  {
    name: "Pets Cédula",
    description:
      "Crea una cédula para tu mascota, genera un QR único para cada mascota",
    technologies: [
      "TailwindCSS",
      "Next JS",
      "Prisma ORM",
      "PostgreSQL",
      "Vercel",
      "Typescript",
    ],
    link: "https://github.com/pipegoods/pets-cedula",
  },
  {
    name: "Who Knows U",
    description:
      "Quienes chatear con alguien por whatsApp pero no quieres agregarlo a tus contactos, esta es tu app",
    technologies: ["CSS", "React JS", "TypeScript", "Local Storage", "Netlify"],
    link: "https://github.com/pipegoods/who-knows-u",
  },
  {
    name: "Mi Band estrés",
    description:
      "Proyecto de grado, una app para medir el estrés de una persona, con un sensor de frecuencia cardíaca utilizando el IOT - Xiaomi Mi band",
    technologies: ["Firebase", "React JS", "Material UI", "Firestore"],
    link: "https://github.com/pipegoods/labestres",
  },
  {
    name: "El Bicho App",
    description:
      "Video juego sobre el bicho (Cristiano Ronaldo), el cual debes anotar goles y obtener el mayor puntaje",
    technologies: ["Firebase", "Vue JS", "CSS", "HTML"],
    link: "https://github.com/pipegoods/ElBichoAPP",
  },
];
---

<section id="projects" class="scroll-mt-24">
  <div class="container mx-auto flex flex-col justify-between gap-6">
    <h1 class="text-2xl font-semibold text-gray-800">Mis Proyectos</h1>

    <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      {
        projects.map((project) => (
          <li class="group relative flex flex-col gap-8 rounded-xl border border-gray-200 bg-gray-50 p-4 shadow-sm transition-transform hover:scale-105">
            <a
              href={project.link}
              target="_blank"
              class="absolute inset-0 z-10"
            />

            <div class="flex flex-1 flex-col gap-4">
              <h2 class="text-xl font-semibold text-blue-900">
                {project.name}
              </h2>
              <p class="text-gray-600">{project.description}</p>
              <ul class="flex flex-wrap gap-2">
                {project.technologies.map((tech) => (
                  <li class="inline-block border border-gray-400 bg-gray-100 px-2 text-sm text-gray-700">
                    {tech}
                  </li>
                ))}
              </ul>
            </div>

            <span class="inline-block cursor-pointer rounded-full bg-blue-900 px-4 py-1 text-center text-white transition-colors group-hover:bg-blue-950">
              View on GitHub
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>
