<section
  class="flex flex-col items-center gap-y-10 md:flex-row md:justify-between md:gap-x-24"
>
  <ul>
    <li>React</li>
    <li>Redux</li>
    <li>React Router</li>
    <li>Redux Thunk</li>
    <li>Redux Saga</li>
    <li>Redux Form</li>
    <li>React-Bootstrap</li>
    <li>React-Router-Bootstrap</li>
  </ul>
</section>
