---
// TODO: agregar las tecnologias que faltan
const skills = [
  "react",
  "html",
  "css",
  "firebase",
  "git",
  "figma",
  "js",
  "npm",
  "node",
  "bootstrap",
  "trello",
];
---

<section class="text-center">
  <h1 class="text-white text-3xl mb-10 font-bold">Tecnologias que domino</h1>
  <div class="flex justify-center">
    <div class="flex flex-wrap justify-center">
      {
        skills.map((skill) => (
          <div class="w-1/6 p-1 hover:bg-white rounded-full transition-colors">
            <img
              src={`/img/logos/${skill}.png`}
              alt={"logo de" + skill}
              class="w-full"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
