---
import { SEO } from "astro-seo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="theme-color" content="#18181b" />

    <meta name="msapplication-navbutton-color" content="#18181b" />

    <meta name="apple-mobile-web-app-status-bar-style" content="#18181b" />
    <meta name="generator" content={Astro.generator} />

    <meta name="mobile-web-app-capable" content="yes" />

    <SEO
      openGraph={{
        basic: {
          image: "/photo-andres-vizcaino.jpg",
          title: "Hola, soy Andrés Vizcaíno",
          type: "website",
          url: "https://andresvizcaino.com",
        },
      }}
      title="Hola, soy Andrés Vizcaíno"
      description="Desarrollador Web Full Stack con 2 años de experiencia en el desarrollo de aplicaciones web con React."
      twitter={{
        creator: "@pipegoods",
      }}
    />

    <script
      defer
      src="https://unpkg.com/@tinybirdco/flock.js"
      data-host="https://api.us-east.tinybird.co"
      data-token="p.eyJ1IjogIjQ2Y2U4ZTJlLTNjZmQtNDE3Yy05MjUwLWRmYjBlYjAyZjQ5YSIsICJpZCI6ICI4ODcyZTI2ZS04YTdiLTQ2YTItYmFlNi04MGFjN2FlNDRkZTUifQ.iNHSDAqrTfdiSt0RFTjhQJE1sPXAwQfPflTLcNN9WQ8"
    ></script>
  </head>
  <body class="scroll-smooth bg-neutral-100/50 text-gray-800">
    <slot />
  </body>
</html>
